.container {
    height: 15vh;
    width: 80vw;
    left: 10vw;
    position: absolute;
    border: 3px solid green;
    z-index: 1;
    bottom: 10%;
    display: none;
    background-color: white;
}

.menuButton {
    left: 10vw;
    position: absolute;
    z-index: 1;
    bottom: 5%;
}

.rollButton {
    height: 5vh;
    width: 80vw;
    left: 10vw;
    position: absolute;
    border: 3px solid green;
    z-index: 1;
    bottom: 25%;
    background-color: white;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}