.container {
    height: 200px;
    width: 80vw;
    left: 10vw;
    position: absolute;
    border: 3px solid green;
    z-index: 1;
    bottom: 10%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}